body {
  background: #f3e6c9;
  font-size: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer {
  float: left;
}
.answerCheck {
  display: flex;
}
.answerCheck button {
  margin-right: 10px;
}
.window {
  min-width: 40%;
  padding: 20px;
  border: 2px solid #dd7171;
  border-radius: 20px;
}
